# Environment Variables (Secrets)
.env

# Python compilation
__pycache__/
*.pyc

# System
.DS_Store

# sat bench ds
data/
Denabase/
.hypothesis/

# Benchmark Artifacts
bench/runs/
data/
*.mzn
*.fzn
*.ozn

# Data and Databases
data/satbench/
my_database/
 salmon
*.ozn